body {
	font: $textFont;
	color: nth($fontColor, 1);
	background: #fff;
}

input, textarea {
	font: $textFont;
	color: nth($fontColor, 1);
}

a {
	color: nth($linkColor, 1);
	&:hover {
		color: nth($linkColor, 2);
	}
	.fontIcon {
		cursor: pointer;
		-webkit-transition: all 0s;
		transition: all 0s;
	}
}

a, a > * {
	-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease, opacity 0.3s ease-in-out;
	transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease, opacity 0.3s ease-in-out;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	@include clearFix
}

.whiteBox {
	background: #fff;
	padding: 60px 0;
	border-bottom: 1px solid $borderColor;
}

.grayBox {
	background: $grayBackground;
	padding: 60px 0;
	border-bottom: 1px solid $borderColor;
}

.wrap {
	height: 0;
	overflow: hidden;
	clear: both;
}

.pullLeft {
	float: left;
}

.pullRight {
	float: right;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

// title
.titleBox {
	@include clearFix;
	position: relative;
	margin-bottom: 15px;
	@if $Border {
		border-bottom: 1px solid $borderColor;
	} @else {
		border-bottom: 1px solid $borderColor;
	}
	.title {
		float: left;
		padding-bottom: 15px;
		margin-bottom: -1px;
		border-bottom: 2px solid $mainColor;
	}
	.auxTitle {
		color: nth($fontColor, 2);
		font-size: 16px;
		margin-left: 15px;
		text-transform: uppercase;
	}
}

.middleTitleBox {
	margin-bottom: 30px;
	text-align: center;
	.title {
		@include inlineBlock;
		padding-bottom: 15px;
		margin-bottom: -1px;
		border-bottom: 2px solid $mainColor;
	}
	.auxTitle {
		color: nth($fontColor, 2);
		text-transform: uppercase;
		padding-top: 10px;
		@if $Border {
			border-top: 1px solid $borderColor;
		} @else {
			border-top: 1px solid $borderColor;
		}
	}
}

// button

.buttonBox {
	margin-top: 40px;
}

.button {
	@include inlineBlock;
	position: relative;
	padding: 8px 30px;
	&:active {
		@include transition(all 0s);
	}
	@if $Block {
		color: #fff;
		border-bottom: 3px solid mix($mainColor, #000, 85%);
		@if $Gradient == one {
			@include mainColorBackgroundGradient;
		}
		@if $Gradient == two {
			@include twoColorBackgroundGradient;
		}
		@if $Gradient == none {
			background: $mainColor;
		}
		&:hover {
			color: #fff;
			@if $Gradient == one {
				@include mainColorBackgroundGradient(5%);
			}
			@if $Gradient == two {
				@include twoColorBackgroundGradient(darken($auxColor, 5%), darken($mainColor, 5%));
			}
			@if $Gradient == none {
				background: mix($mainColor, #000, 90%);
			}
		}
		&:active {
			background: mix($mainColor, #000, 80%);
		}
	} @else {
		border: 1px solid $borderColor;
		&:hover {
			border-color: $mainColor;
		}
	}
	@if $BorderRadius != 0 {
		border-radius: $BorderRadius;
	}
	.fontIcon {
		font-size: 16px;
		width: 16px;
		vertical-align: middle;
		margin-right: 8px;
	}
	&.smallButton {
		padding: 2px 10px;
	}
}

